POSTGRES_DB=dbreliant
POSTGRES_USER=dbreliant
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgres://dbreliant:change-me@localhost:5432/dbreliant?sslmode=disable
HTTP_PORT=8080
