POSTGRES_DB=dbreliant
POSTGRES_USER=dbreliant
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

DATABASE_URL=postgres://dbreliant:change-me@localhost:5432/dbreliant?sslmode=disable

DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=30m
DB_CONN_MAX_IDLE_TIME=5m

HTTP_PORT=8080